* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* * */

html, body {
    owerflow: hidden;
    height: 100%;
    weight: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    
}
/* HTML, BODY */

.bg {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(img/image.gif) no-repeat;
    background-size: cover;
    background-position: center;
}
/* BACKGROUND */

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
/* CONTENT */

.logo {
    display: flex;
    margin-bottom: 50px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.logo-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: borderAnimation 2s infinite alternate;
  }
  
  @keyframes borderAnimation {
    0% {
      transform: scale(1);
      border-color: #50017e;
    }
    100% {
      transform: scale(1.1);
      border-color: #cd04ff;
    }
  }
/* LOGO */

.social {
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* SOCIAL */

.link {
    display: flex;
    float: none;
    margin: 10px 40%;
    padding: 5px;
    font-size: 30px;
    font-family: 'Handjet', cursive;
    flex-direction: column;
    background: linear-gradient(to bottom right, #3700ff, #6200ff);
    border: solid rgb(135, 48, 250);
    border-radius: 50px;
    color: rgb(230, 15, 115);
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

.link:hover {
    transition: .3s;
    transform: scale(110%);
    color: yellow;
    border: solid yellow;
    background: linear-gradient(to bottom right, #d80606, #ff03ab);
}
/* LINK */

@media screen and (max-width: 1200px) {
    .link {
        transition: .5s;
        font-size: 30px;
        margin: 15px 40%;
    }

    .logo-img {
        transition: .5s;
        width: 250px;
        height: 250px;
    }

}
/* MEDIA 1200PX */

@media screen and (max-width: 998px) {
    .link {
        transition: .5s;
        font-size: 25px;
        margin: 15px 37%;
    }

    .logo-img {
        transition: .5s;
        width: 220px;
        height: 220px;
    }

}
/* MEDIA 998PX */

@media screen and (max-width: 768px) {
    .link {
        transition: .5s;
        font-size: 24px;
        margin: 15px 34%;
    }

    .logo-img {
        transition: .5s;
        width: 180px;
        height: 180px;
    }

}
/* MEDIA 768PX */

@media screen and (max-width: 576px) {
    .link {
        transition: .5s;
        font-size: 24px;
        margin: 15px 30%;
    }

    .logo-img {
        transition: .5s;
        width: 180px;
        height: 180px;
    }
}
/* MEDIA 576PX */

@media screen and (max-width: 425px) {
    .link {
        transition: .5s;
        font-size: 24px;
        margin: 15px 25%;
    }

    .logo-img {
        transition: .5s;
        width: 180px;
        height: 180px;
    }
}
/* MEDIA 425PX */

@media screen and (max-width: 300px) {
    .link {
        transition: .5s;
        font-size: 24px;
        margin: 15px 20%;
    }

    .logo-img {
        transition: .5s;
        width: 120px;
        height: 120px;
    }
}
/* MEDIA 300PX */
